<h1 (click)="toggleAddBoard()" *ngIf=createBoard>Create new board...</h1>

<div *ngIf=addBoard>
  <label>Hero name:
    <input #boardName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(boardName.value); boardName.value=''">
    Add
  </button>
  <button (click)="toggleAddBoard()">
    Cancel
  </button>
</div>

<ul>
  <li *ngFor="let board of boards">
    <a routerLink="/board/{{ board.id }}">
      <span>{{ board.id }}</span> {{ board.name }}
    </a>
    <button title="Delete Board" (click)="delete(board)">x</button>
  </li>
</ul>

<app-board-detail></app-board-detail>
